@model IEnumerable<EntityLayer.Otobus>
@{
    ViewBag.Title = "YonetimPaneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <table class="table">
                <tr>
                    <td>
                        <div id="title"><h3><strong>Son Haraketler</strong></h3></div>        
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <strong> @item.Plaka</strong> Plakalı araç; şuan da<strong> @item.Seferler.LastOrDefault().rota.nereden.DurakAdi</strong> 'den <strong>@item.Seferler.LastOrDefault().rota.nereye.DurakAdi</strong> 'e gitmektedir.  
                        </td>
                    </tr>
                }
            </table>
        