@model EntityLayer.Otobus

@{
    ViewBag.Title = "OtobusDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h4 class="card-title">@Model.Marka @Model.Model</h4>
    <div class="card" style="width:400px">
        <img class="card-img-top" src=@Model.OtobusResmi alt="Card image" style="width:100%">
        <div class="card-body">
            
            <strong>  Plakası</strong>  <p class="card-text">@Model.Plaka</p>
            <a href="/Sefer/Seferler" class="btn btn-primary">Şimdiye Kadar ki Seferleri</a>
        </div>
    </div>
    
</div>
