<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yönetim Paneli", "YonetimPaneli", "Yonetim", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <section>
            <aside>
                <div id="yonetimLinks">
                    <a href="/Otobus/OtobusListesi"> <div class="yonetimLink">Otobus Kontrol</div></a>
                    <a href="/Sefer/Seferler"><div class="yonetimLink">Sefer Kontrol</div></a>
                    <a href="/Durak/Duraklar"><div class="yonetimLink">Durak Kontrol</div></a>
                    <a href="/Uye/UyeListesi"><div class="yonetimLink">Uye Kontrol</div></a>
                    <a href="/Sefer/SeferBul"><div class="yonetimLink">Kullanıcı Modu</div></a>
                </div>
            </aside>
            <article>
                @RenderBody()
            </article>
        </section>

       
        <hr />
        <footer style="margin-top:50px;">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
<style>
    #yonetimLinks a {
        float: left;
        margin-left: 10px;
    }

    section {
        display: grid;
        grid-template-rows: 20%;
        height: max-content;
        max-height:2000px;
        width: 100%;
    }
    section table{
        margin-top:20px
    }
    .yonetimLink {
        width: 200px;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        font-size: 20px;
        margin-top: 10px;
    }

    article {
        display: grid;
        grid-template-rows: 20% 80%;
    }
</style>
