@model BusinessLogisLayer.ViewModels.VMseferAra

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Sefer Arama Motoru</h2>

@using (Html.BeginForm("SeferAra", "Sefer", FormMethod.Get))
{
    <div id="arama">
    <table class="table">
        <tr>
            <td>Baslangıc Noktası:</td>
            <td><div>@Html.DropDownListFor(m => m.sefer.neredenId, (SelectList)Model.Nereden, new { @class = "drop" })</div></td>
        </tr>
        <tr>
            <td>
                Bitis Noktası:
            </td>
            <td>
                <div>@Html.DropDownListFor(m => m.sefer.nereyeId, (SelectList)Model.Nereye, new { @class = "drop" })</div>
            </td>
        </tr>
        <tr><td colspan="2" style="text-align:center"> <div><input type="submit" style="height:35px; width:120px;border:none;font-size:20px; background-color:cadetblue;color:whitesmoke" value="Sefer Ara" /></div></td></tr>
    </table>
        
       
    </div>}
<style>
    .drop {
        height: 40px;
        width: 80%;
        font-size: 35px;
    }
</style>